#include <windows.h>

#include "dialog.h"

// ID_DLG is #defined in dialog.h
// control ids should also be defined there
ID_DLG DIALOG  10, 10, 99, 60
STYLE WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX
FONT 10, "Tahoma"
CAPTION "Twitch" 
{
  LTEXT "Left twitch (px):", 1, 1, 2, 65, 10
  LTEXT "Right twitch (px):", 1, 1, 12, 65, 10
  LTEXT "Twitch interval (s):", 1, 1, 22, 65, 10

  EDITTEXT IDE_LEFT, 66, 1, 30, 10
  EDITTEXT IDE_RIGHT, 66, 11, 30, 10
  EDITTEXT IDE_INTERVAL, 66, 21, 30, 10

  PUSHBUTTON "", IDB_STARTSTOP, 12, 35, 75, 10
  PUSHBUTTON "Test twitch", IDB_TEST, 12, 47, 75, 10
}

